<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../assets/css/estilo_registro.css">
    
</head>
<body>
    <main class="contenedor_main">
        <!-- Lado Derecho -->   
        <div class="contenedor_login">
            <div class="capsula_login">
                <h1 class="titulo_principal">Tu Café</h1>
                <p class="subtitulo">Que bueno verte de nuevo!</p>

                <div id="mensaje-error" class="alerta-registro">
                    Este correo ya está registrado. <br> Intenta con otro o inicia sesión.
                </div>

                <form action="../controllers/registro.php" method="POST">

                    <div class="bloque_login">
                        <label>Registrate</label>
                        <input type="text" name="nombre" placeholder="Nombre Completo" required>

                        <input type="email" name="email" placeholder="Correo Electrónico" required>
                        
                        <input type="password" name="password" placeholder="Contraseña" required>
                    </div>

                    <button type="submit" class="boton_login">Registrarme</button>
                </form>
                <div class="pie_login">
                    <p>¿Ya tienes una cuenta? <a href="login.html">Inicia sesión aquí</a></p>
                </div>
            </div>
        </div>

        <!-- Lado Izquierdo -->   
        <div class="contenedor_de_imagen">
            <div class="oscurecer_imagen">

                <h2 class="titulo_imagen">EL MEJOR CAFÉ</h2>
                <p class="subtitulo_imagen">SIEMPRE CERCA DE TI</p>
            </div>
        </div>
     </main>

     <script src="../assets/js/script_registro.js"></script>
</body>
</html>